.mf-cursor {
  background-color: var(--color-ink);
}

.mf-cursor.-pointer {
  background-color: var(--color-accent);
}

@media (pointer: fine) {
  body {
    cursor: none;
  }

  a,
  button {
    cursor: none;
  }
}
